@font-face {
  font-family: "ATRotisSansSerif";
  src: url("../../../../../assets/fonts/ATRotisSansSerif/atrss__0.TTF") format("truetype");
}

.titlePage {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;

  .linkAdicionar {
    height: 32px;
    width: 150px;
  }
}

.avatarReserva{
  width: 72px;
  height: 72px;
  object-fit: cover;
}

.precio{
  font-size: 16px;
  margin-right: 8px;
}

#list-tab{
  font-family: 'ATRotisSansSerif', "Open Sans"!important;
  font-size: 18px;
}

.acciones{
  margin-right: 8px;
  i{
    margin-left: 4px;
  }

  i:hover{
    cursor: pointer;
    transform: rotate(-6deg);
  }
}

.cabezal {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.tarjetaEstilista{
  text-align: center;
  .imagenEstilista{
    display: inline-block;
    width: 70px;
    border-radius: 50%;
    border: 2px solid #313131;
    padding: 2px;
    cursor: pointer;
  }
  .imagenEstilista:hover{
    border: 4px solid #fea151;
    cursor: pointer;
    transform: rotate(-4deg);
  }

  .nombreEstilista{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .estilistaSeleccionado{
    color: #fea151;
    font-weight: bold;
    text-decoration: underline;
  }
}

::ng-deep .owl-prev,
.owl-next {
  color: #fea151 !important;
  font-size: 1rem !important;
  margin: 2px;
  padding: 4px 7px;
  background: #fff !important;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

::ng-deep .owl-next {
  color: #fea151 !important;
  font-size: 1rem !important;
  background: #fff !important;
  margin: 2px;
  padding: 4px 7px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

::ng-deep .owl-theme .owl-dots .owl-dot {
  display: none;
}

.tituloSeleccion{
  font-family: 'ATRotisSansSerif';
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}


  .bodyTable{
    background-color: #f5f2f2;
  }

  .e-bigger #clientes_popup .e-dropdownbase .e-list-item {
    line-height: 40px;
    height: 64px;
}

.e-bigger #clientes_popup.e-popup .empImage {
    margin: 10px 16px;
}

#clientes_popup .head {
    font-weight: 600;
    height: 48px;
    padding: 15px 0 0 20px;
    color: rgba(0, 0, 0, .54);
    font-size: 16px;
    font-family: "Roboto";
    background-color: #f5f5f5;
}

.highcontrast #clientes_popup .head {
    color: #fff;
    background-color: #000;
}

.bootstrap4 #clientes_popup .head {
    color: #6c757d;
}

.fabric #clientes_popup .head {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #0078d7;
    font-weight: 400;
}

.e-bigger #clientes_popup .e-dropdownbase .e-list-item {
    line-height: 40px;
    height: 80px;
}

#clientes_popup .ename {
    display: block !important;
    opacity: .87;
    font-size: 16px;
    margin-top: 9px;
}

#clientes_popup .job {
    opacity: .54;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 11px;
}

.e-bigger #clientes_popup .job {
    margin-top: -16px;
}

#clientes_popup .empImage {
    margin: 6px 16px;
    float: left;
    width: 50px;
    height: 50px;
}

#clientes_popup .e-dropdownbase .e-list-item * {
    display: block;
    text-indent: 0;
}

.bootstrap4 #clientes_popup.e-popup .empImage {
    margin: 0px 16px;
}

.bootstrap4 #clientes_popup.e-popup .job {
    margin-top: 0;
}

.e-bigger.bootstrap4 #clientes_popup.e-popup .job {
    margin-top: -15px;
}

//Autocomplete servicios

.e-bigger #servicios_popup .e-dropdownbase .e-list-item {
  line-height: 40px;
  height: 64px;
}

.e-bigger #servicios_popup.e-popup .empImage {
  margin: 10px 16px;
}

#servicios_popup .head {
  font-weight: 600;
  height: 48px;
  padding: 15px 0 0 20px;
  color: rgba(0, 0, 0, .54);
  font-size: 16px;
  font-family: "Roboto";
  background-color: #f5f5f5;
}

.highcontrast #servicios_popup .head {
  color: #fff;
  background-color: #000;
}

.bootstrap4 #servicios_popup .head {
  color: #6c757d;
}

.fabric #servicios_popup .head {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  color: #0078d7;
  font-weight: 400;
}

.e-bigger #servicios_popup .e-dropdownbase .e-list-item {
  line-height: 40px;
  height: 80px;
}

#servicios_popup .ename {
  display: block !important;
  opacity: .87;
  font-size: 16px;
  margin-top: 9px;
}

#servicios_popup .job {
  opacity: .54;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 11px;
}

.e-bigger #servicios_popup .job {
  margin-top: -16px;
}

#servicios_popup .empImage {
  margin: 6px 16px;
  float: left;
  width: 50px;
  height: 50px;
}

#servicios_popup .e-dropdownbase .e-list-item * {
  display: block;
  text-indent: 0;
}

.bootstrap4 #servicios_popup.e-popup .empImage {
  margin: 0px 16px;
}

.bootstrap4 #servicios_popup.e-popup .job {
  margin-top: 0;
}

.e-bigger.bootstrap4 #servicios_popup.e-popup .job {
  margin-top: -15px;
}


#_dialog_wrapper{
  height: 500px!important;
}


