<div [@routerTransition]>
  <div class="titlePage">
    <app-page-header [heading]="'Listado de clientes'" [icon]="'fa-pencil-square'"></app-page-header>
  </div>
  <div class="row">
    <div class="col-md-12">
      <dymtabla [nombresColumnas]="nombresColumnas" [urlApi]="urlApi" [tituloReporte]="'Listado de clientes'"
        [columnasData]="columnasData" (verDetallesClick)="verDetallesCliente($event)"
        (editarClick)="editarCliente($event)" (eliminarClick)="eliminarCliente($event)"></dymtabla>
    </div>
  </div>
  <br />
  <swal #successSwal title="Información" text="Registro eliminado" type="success" [showCancelButton]="false"
    [focusCancel]="true">
  </swal>
</div>
