<div class="modal-evento">
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"><i class="fa fa-bullhorn"></i> {{this.evento.nombre}}</h4>
      <button type="button" class="close" aria-label="Close" tabIndex=-1 (click)="cerrar()">
    <span aria-hidden="true">×</span>
  </button>
  </div>
  <div class="modal-body">
      <article class="post">
          <div class="post-info row">
            <span class="post-date col-4"><strong><i class="fa fa-calendar"></i> Fecha inicio:</strong> {{this.evento.fechaInicio | date}}</span>
            <span class="post-date col-4"><strong><i class="fa fa-calendar"></i> Fecha fin:</strong> {{this.evento.fechaFin | date}}</span>
            <span class="post-date col-4"><strong><i class="fa fa-map"></i> Lugar:</strong> {{this.evento.lugar}}</span>
          </div>
          <div class="post-media text-center">
              <div *ngFor="let image of this.fotosEvento; let i=index">
                  <img [src]="image.thumb" (click)="open(i)" width="400px" class="img-portada img-thumbnail" />
              </div>
          </div>
          <div class="divBody" [innerHTML]="this.evento.descripcion | safeHtml">
          </div>
      </article>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="cerrar()">Cerrar</button>
  </div>

</div>
