.image-upload img {
  cursor: pointer;
}

.image-upload>input {
  display: none;
}

.clsAvatar {
  text-align: center;
}

.divEvento {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border: 1px solid #cfcfcf;
}

.avatar{
margin-top: 15px;
display: block;
height: 450px;
}

.containerFotos {
  margin: 40px;
}
