<div [@routerTransition]>
  <app-page-header [heading]="'Editar trabajador'" [icon]="'fa-pencil-square'"></app-page-header>
  <!-- Formly -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <formly-form [form]="form" [fields]="fields" [options]="options" [model]="model"></formly-form>
      </div>
    </div>
    <br>
    <hr>
    <div class="row">
      <div class="col-md-12 mb-3">
        <h5>Seleccione sus servicios:</h5>
      </div>
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" ngClass="{{categoria.id===1?'active':''}}" id="list-home-list" data-toggle="list" href="#{{categoria.nombre | lowercase | slice:0:5}}" role="tab" *ngFor="let categoria of this.categoriasServicios" >
            <span><i class="fa fa-angle-right" aria-hidden="true"></i> {{categoria.nombre}}</span>
            <span class="badge badge-primary badge-pill">{{categoria.servicios.length}}</span>
          </a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade" ngClass="{{categoria.id===1?'show active':''}}" id="{{categoria.nombre | lowercase | slice:0:5}}" role="tabpanel" *ngFor="let categoria of this.categoriasServicios" >
            <ul class="list-unstyled">
              <li class="media mb-4" *ngFor="let servicio of categoria.servicios" >
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="servicio.id" (change)="seleccionarServicio(servicio.id, $event)" [checked]="marcado(servicio.id)">
                  <label class="form-check-label" for="servicio.id">{{servicio.nombre}}</label>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary float-right" [disabled]="form.invalid">
          <i class="fa fa-save"></i> Actualizar
        </button>
      </div>
    </div>
  </form>
</div>
<br /><br />

<swal #confirmSwal title="Información" text="El trabajador ha sido actualizado" type="success" [showCancelButton]="false"
  [focusCancel]="true" (confirm)="cerrarVentana()">
</swal>

<swal #notFoundSwal title="Información" text="No existe trabajador registrado con ese identificador" type="error" [showCancelButton]="false"
  (confirm)="cerrarVentana()">
</swal>
