<div class="modal-login-cliente">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"><i class="fa fa-sign-in-alt"></i> Registrarme</h4>
    <button type="button" class="close" aria-label="Close" tabIndex=-1 (click)="cerrar()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Nombre y apellidos:</label>
            <input formControlName="nombre_completo" class="form-control" placeholder="Nombre y apellidos" type="text">
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.nombre_completo">
                <div class="error-message" *ngIf="form.get('nombre_completo').hasError(error.type) && (form.get('nombre_completo').dirty || form.get('nombre_completo').touched)">
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
          </div>
          <div class="form-group">
            <label>Correo electrónico:</label>
            <input formControlName="email" class="form-control" placeholder="Correo electrónico" type="email">
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.email">
                <div class="error-message" *ngIf="form.get('email').hasError(error.type) && (form.get('email').dirty || form.get('email').touched)">
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Contraseña:</label>
                <input formControlName="password" class="form-control" placeholder="Contraseña" type="password">
                <div class="error-messages">
                  <ng-container *ngFor="let error of error_messages.password">
                    <div class="error-message" *ngIf="form.get('password').hasError(error.type) && (form.get('password').dirty || form.get('password').touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Repetir Contraseña:</label>
                <input formControlName="confirmPassword" class="form-control" placeholder="Contraseña" type="password">
                <div class="error-messages">
                  <ng-container *ngFor="let error of error_messages.confirmPassword">
                    <div class="error-message" *ngIf="form.get('confirmPassword').hasError(error.type) && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)">
                      Las contraseñas no coinciden
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-md-12 text-center">
              <button class="btn btn-primary" [disabled]="form.invalid" type="submit"><i class="fa fa-sign-in-alt"></i> Registrarme</button>
            </div>
          </div>
          <p></p>
        </form>
      </div>
    </div>
    <div class="row">
          <div class="col-md-12 text-center">
            <strong>O regístrese con sus redes sociales</strong>
          </div>
          <div class="col-md-6">
            <facebook-login-button (socialUser)="getSocialUser($event)" [text]="'Con Facebook'"></facebook-login-button>
          </div>
          <div class="col-md-6">
            <google-login-button (socialUser)="getSocialUser($event)" [text]="'Con Google'"></google-login-button>
          </div>
    </div>

  </div>
</div>
<swal #alertSwal title="Información" text="No fue posible autenticar" type="error" [showCancelButton]="false" [focusCancel]="true">
</swal>
<swal #alertSwal2 title="Información" text="El usuario ya existe, por favor inicie sesión" type="error" [showCancelButton]="false" [focusCancel]="true">
</swal>
