.post {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.post-info {
    margin-bottom: 20px;
}

.img-portada {
    cursor: pointer;
    margin-bottom: 15px;
    object-fit: cover;
    height: 180px;
}

.modal-header {
    background-color: #1D1D1D;
    color: #fff;
}

.close span {
    color: #fff;
}

.divBody {
    margin: 20px 0;
}