<div [@routerTransition]>
  <div class="titlePage">
    <app-page-header [heading]="'Listado de eventos'" [icon]="'fa-pencil-square'"></app-page-header>
    <a routerLink="/admin/eventos/adicionar-eventos" [routerLinkActive]="['router-link-active']"
      class="btn btn-sm btn-primary linkAdicionar">
      <i class=" fa fa-plus-circle"></i> Nuevo evento
    </a>
  </div>
  <div class="row">
    <div class="col-md-12">
      <dymtabla [nombresColumnas]="nombresColumnas" [urlApi]="urlApi" [tituloReporte]="'Listado de eventos'"
        [columnasData]="columnasData" (verDetallesClick)="verDetallesEvento($event)"
        (editarClick)="editarEvento($event)" (eliminarClick)="eliminarEvento($event)"></dymtabla>
    </div>
  </div>
  <br />
  <swal #successSwal title="Información" text="Registro eliminado" type="success" [showCancelButton]="false"
    [focusCancel]="true">
  </swal>
</div>
