@charset "UTF-8";
html {
  font-size: 15px; }


@font-face {
  font-family: "ATRotisSansSerif";
  src: url("../../../assets/fonts/ATRotisSansSerif/atrss__0.TTF") format("truetype");
}

@font-face {
  font-family: "FortAwesome";
  src: url("../../../assets/fonts/fontawesome-webfont.ttf") format("truetype");
}

.sitio {
  font-family: 'ATRotisSansSerif', "Open Sans"!important;
  color: #ffffff !important;
  background: #141414;

}

.header-navigation a, .flechita{
  cursor: pointer;
}

.encabezado {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}



.primary-text{
  color:#fea151 !important;
  font-family: "ATRotisSansSerif", "Open Sans";
}
.bienvenidos {
  color: #fff;
  background-size: cover;
  background-attachment: fixed !important;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

section h1::after, main h1::after {
  z-index: 2;
  content: " ";
  display: block;
  padding-top: 7px;
  border-bottom: 2px solid #fea151;
  width: 73px;
  margin: 0 auto;
}
.encabezado {
  background: #111111;
  color: #fff;
  padding: .8rem 0;
  -webkit-transition: all .5s ease;
          transition: all .5s ease; }

.encabezado.fondo-menu {
  background: #064e4e;
  padding: 1rem 0; }

.encabezado .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.encabezado .logo img {
  width: 150px;
  height: auto; }

/*Estilos para el boton: buscar y menu*/
.boton-buscar,
.boton-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: #fff; }


// Small devices (landscape phones, less than 768px)
@media (min-width: 768px) {
  .boton-menu {
    visibility: hidden;
  }
 }

.boton-buscar:focus,
.boton-menu:focus {
  outline: 0; }

.boton-buscar {
  margin-left: auto;
  margin-right: .8rem; }

/*Estilos bloque buscar*/
#bloque-buscar {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.contenedor-bloque-buscar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  margin: 1rem 0; }

.contenedor-bloque-buscar input[type="text"] {
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.contenedor-bloque-buscar input[type="submit"] {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 0;
  border-radius: 0 5px 5px 0;
  background:#fea151 ;
  color: #000000;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0 1rem; }

#menu-principal {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

#menu-principal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0; }

#menu-principal ul a {
  display: block;
  padding: .8rem 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid #8c8888;
  text-decoration: none;
  font-size: 16pt;
}



.texto-encabezado {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.texto-encabezado .display-4 {
  margin-top: 4rem; }

.texto-encabezado .btn-primary {
  margin-top: 1rem; }

.btn-primary {
  color: #fff;
  background-color: #fea151 ;
  border-color: transparent;
  -webkit-transition: all .5s ease;
          transition: all .5s ease; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
  background-color: #fea151 ;
  border-color: transparent; }

.flecha-bajar a {
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  -webkit-animation: flecha-animada 2s ease-in-out infinite;
          animation: flecha-animada 2s ease-in-out infinite; }

@-webkit-keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
/*-----------------------------
SECCION Nosotros
------------------------------*/
.agencia {
  background: #141414;
  color: #fff; }


/*-------------------------------
SECCION SERVICIOS
--------------------------------*/
.servicios {
  background-size: cover;
  background-attachment: fixed !important;
  color: #fff;
}

.servicios article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  //margin: 1rem 0;
  flex-direction: column;
}

.servicios img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60px;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
          height: 150px;
          width: 150px;
  overflow: hidden;
  margin-right: 1rem;
}

.servicios h3 {
  margin: 0;
  font-size: 1.1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.servicios h3 a {
  color: #fea151;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }




/*---------------------------------
SECCION EVENTOS
------------------------------------*/
.styleIma{
  height: 250px;
}

.galeria{
  padding-top:30px;
}
.galeria-imagenes a {
  text-decoration: none; }

.galeria-imagenes a img {
  height: 250px
}
.galeria-imagenes a h4 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.galeria-imagenes .container {
  padding-left: 0;
  padding-right: 0; }

.eventos .owl-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .3rem 0; }

.eventos .owl-prev,
.eventos .owl-next {
  font-size: 3rem!important;
  margin: 0 .5rem!important;
  color: #fea151!important;
  -webkit-transition: all .5s ease!important;
          transition: all .5s ease!important;
  display: inline-block!important;

}
.eventos .card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

::ng-deep .owl-prev, .owl-next {
  color: #fea151!important;
  font-size: 3rem!important;
  margin: 5px;
  padding: 4px 7px;
  background: #141414!important;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

::ng-deep .owl-next {
  color: #fea151!important;
  font-size: 3rem!important;
  margin: 5px;
  padding: 4px 7px;
  background: #141414!important;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

::ng-deep .owl-theme .owl-dots .owl-dot {
  display: none;
}


.eventos .owl-prev:hover,
.eventos .owl-next:hover {
  color: #fea151!important;
}
.card {
  background-color: #fea151;
}

.eventos .card .card-body > p, .eventos .card .card-body a{
  color:#ffffff;
}
.eventos .card .card-body > span{
  font-size: 14px;
}
.card {
   border: inherit;
}
.modal-content{
  color:#000000;
}
.titulo-evento {
  display: -webkit-box;
  max-width: 100%;
  height: 43px;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-bottom: 0px;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: #fea151!important;
  text-decoration: none;
  z-index: 99999;
  line-height: 0;
  display: none;
  -webkit-transition: all .5s ease;
          transition: all .5s ease; }

.ir-arriba:hover,
.ir-arriba:focus {
  outline: 0;
  text-decoration: none;
  color: #fff; }

.pre-footer i {
  font-size: 1.5rem;
  color: #d3a469;
}
.footer-text{
  text-align: justify;
}
/*-------------------------------------------
ESTILOS PAGINA NOSOTROS
--------------------------------------------*/
.paginas-internas .bienvenidos {
  height: 50vh; }

.paginas-internas .ruta {
  background: #fea151;
  color: #fff; }

.paginas-internas .ruta a {
  color: #fff;
  text-decoration: underline; }

.paginas-internas .ruta a:hover {
  text-decoration: none; }

.paginas-internas .panel .panel-heading {
  font-size: 1.2rem; }

.paginas-internas .panel .panel-heading a {
  background: #12AFAF;
  color: #fff;
  display: block;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all .5s ease;
          transition: all .5s ease; }

.paginas-internas .panel .panel-heading a:hover {
  background: #009500;
  color: #fff; }
/*----------------------------------
estilos Galeria de imagenes
 */
.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  color:#ffffff !important;
}
.img-thumbnail {
  width: 100%;
  height: 250px;
  object-fit: cover;
 }

 .tarjetaGaleria{
   margin-bottom: 15px;
 }

 .tarjetaGaleria:hover{
  border: 2px solid #fea151!important;
}

.container.gallery-container {
  color: #35373a;
  min-height: 100vh;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
  text-align: center;
  margin-top: 70px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
  color: #888;
  font-size: 18px;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery  img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}


@media(max-width: 768px) {
  body {
    padding: 0;
  }

  .container.gallery-container {
    border-radius: 0;
  }
}
/*------------Estilos BLOG--------------------------*/


.white {
  color: #fff !important;
}
.mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue-ui {
  background-color: #fea151!important;
}
figure img{
  width:300px;
  object-fit: cover;
}

#blogCarousel {
  padding-bottom: 30px;
}

.blog{
  margin-top: 50px;
}

.blog .carousel-indicators {
  top: -50px;
  height: 50px;
  justify-content: center !important;
}

.carousel-indicators li{
  width: 15px;
  height: 2px;
}

::ng-deep #blog .owl-prev,
.blog .owl-next {
  top: -50px;
  height: 50px;
  justify-content: center !important;

}

.d-flex{
  display: flex;
}
.blog-posts .image{
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: 20px;
}
.blog-posts .image img{
  height: 60px;
}
.blog-posts .date::after, .widget.latest-posts .comments::after {

  content: '|';
  display: inline-block;
  margin: 0 7px;
  font-size: 0.9em;
  color: #ccc;

}
.blog-posts .item{
  margin-bottom: 20px;
}
.blog-posts .title{
  color: #ffffff;
}
/* The colour of the indicators */

.blog .carousel-indicators li {
  background: #ffffff;
  border-radius: 50%;
}

.blog .carousel-indicators .active {
  background: #fea151;
}


.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.item-box-blog {
  border: 1px solid #fea151;
  text-align: center;
  z-index: 4;
  padding: 20px;
  margin-bottom: 30px;
}

.item-box-blog-image {
  position: relative;
}

.item-box-blog-image figure img {
  width: 100%;
  height: 250px;
}

.item-box-blog-date {
  position: absolute;
  z-index: 5;
  padding: 4px 20px;
  top: -20px;
  right: 8px;
  background-color: #41cb52;
}

.item-box-blog-date span {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 1.2;
}

.item-box-blog-date span.mon {
  font-size: 18px;
}

.item-box-blog-date span.day {
  font-size: 16px;
}

.item-box-blog-body {
  padding: 10px;
}

.item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration:none;
  transition: color 0.3s;
}

.item-box-blog-heading a {
  text-decoration: none;
}

.item-box-blog-data p {
   font-size: 14px;
   margin-top: 20px;
}

.item-box-blog-data p i {
  font-size: 12px;
}

.item-box-blog-text {
  max-height: 100px;
  //text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;

}

.mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
  box-shadow: 0px 5px 15px inset #4d5f77;
}
.user {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #ffffff;
  padding: 10px;
  text-align: center;
  border: 2px solid #fea151;
}
.blog-user{
  font-size: 2rem;
  color: #fea151;
}
.blog-item h4.media-heading {

  position: relative;
  padding-top: 0;

}
.content-page h4 {

  font-size: 17px;
  margin-bottom: 4px;

}
.blog-item h4.media-heading span {
  right: 0;
  top: 3px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  position: absolute;

}
.blog-item h4.media-heading span a{
  color: #fea151 !important;

}
.blog-item .comments {
  border-top: solid 1px #ECEBEB;
  padding-top: 15px;
}
.blog-item .media {
  border-bottom: solid 1px #ECEBEB;
  margin-bottom: -1px;
  padding-top: 15px;
}
/*-------------------------------------------
ESTILOS PAGINA SERVICIOS
--------------------------------------------*/
.paginas-internas .lista-servicios {
  background: #009500; }

.paginas-internas .lista-servicios .item-servicios {
  background: #ffffff;
  text-align: center;
  border: 5px solid #057705;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem; }

.paginas-internas .lista-servicios .item-servicios .fa {
  font-size: 6rem;
  color: #12AFAF;
  margin-bottom: 1rem;
  -webkit-transition: all 1s ease;
          transition: all 1s ease; }

.paginas-internas .lista-servicios .item-servicios:hover .fa {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
.eventos{
  color:#000000;
}
/*---------------------------------------------
EMPIEZAN LAS MEDIAS QUERIES
--------------------------------------------*/
@media (min-width: 768px) {
  #menu-principal {
    height: auto !important;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: auto;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }

  #menu-principal ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 0; }

  #menu-principal ul li a {
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; }

  #menu-principal ul li.active a,
  #menu-principal ul li a:hover {
    color:#fea151;
    border-bottom: 4px solid; }

  .boton-buscar {
    margin-left: 1rem;
    margin-right: 0;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }

  #bloque-buscar {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    width: 20rem;
    right: 3rem;
    top: 3.8rem;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; }

  .servicios article {
    margin: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }

  .servicios img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 160px;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
    overflow: hidden;
    margin-right: 0;
    margin-bottom: 1rem;
    -webkit-transition: all 1s ease;
            transition: all 1s ease; }

  .servicios article:hover img {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }

  .servicios h3 a::after {
    content: ""; }

  .servicios h3 {
    margin: 0 0 .5rem 0;
    font-size: 1.5rem;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%; }

  .servicios h3 a {
    display: block;
    width: 100%; }

  .servicios p {
    width: 100%; }

  .servicios .btn-secondary {
    margin-top: auto; }

   }


@media (min-width: 992px) {
  html {
    font-size: 16px; }

  .bienvenidos {
    background: url("../../../assets/images/sitio/coleccionorishasbanner-6.jpg") no-repeat center top;
    background-size: cover; }

  .servicios {
    background: url("../../../assets/images/sitio/Sesion DONDE DORIAN (6).png") no-repeat center center;
    background-size: cover;
  }


  }

