<div [@routerTransition]>
    <div class="titlePage">
        <app-page-header [heading]="'Listado de galerias'" [icon]="'fa-pencil-square'"></app-page-header>
        <a routerLink="/admin/galerias/adicionar-galerias" [routerLinkActive]="['router-link-active']" class="btn btn-sm btn-primary linkAdicionar">
            <i class=" fa fa-plus-circle"></i> Nueva galeria
        </a>

    </div>
    <div class="row">
        <div class="col-md-12">
            <dymtabla [nombresColumnas]="nombresColumnas" [urlApi]="urlApi" [tituloReporte]="'Listado de galerías'" [columnasData]="columnasData" (verDetallesClick)="verDetallesGaleria($event)" (editarClick)="editarGaleria($event)" (eliminarClick)="eliminarGaleria($event)"></dymtabla>
        </div>
    </div>
    <br />
    <swal #successSwal title="Información" text="Registro eliminado" type="success" [showCancelButton]="false" [focusCancel]="true">
    </swal>
</div>