/*----------------------------------------
SECCION PIE DE PAGINA
-----------------------------------------*/
.piedepagina {
  background: #111111;
  color: #fff;
  /*text-align: center;*/
  font-size: .9rem;
  margin-top: 20px;
  padding-top: 20px;
}

.piedepagina .redes-sociales {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

  .piedepagina .redes-sociales{
     a#aF{
      &:before {
        content: "\f09a";
        font-family: "FortAwesome";
        font-size: 1.8rem;
       // margin: 0 .5rem;
        margin-bottom: 8px;
        opacity: .7;
      }
    }
      a#aT{
        &:before {
          content: "\f099";
          font-family: "FortAwesome";
        }
    }
    a#aY{
      &:before {
        content: "\f167";
        font-family: "FortAwesome";
      }
  }
  a#aI{
    &:before {
      content: "\f16d";
      font-family: "FortAwesome";
    }
}

  }

.piedepagina .redes-sociales a {
  color: #fea151;
  font-size: 1.7rem;
  padding-bottom: 4px;
  margin: 0 .5rem;
  opacity: .7;
  -webkit-transition: all .5s ease;
          transition: all .5s ease; }

.piedepagina .redes-sociales a:hover {
  opacity: 1;
}

  .btn-primary {
    color: #FFF;
    background-color: #FEA151;
    border-color: transparent;
    transition: all 0.5s ease 0s;
}
