<footer class="piedepagina" role="contentinfo">
  <div class="pre-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12 m-y-2">
              <h4>Contáctenos</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="col-md-10 p-l-0">
              <p class="footer-text">Calle 25 #1705 e/ 30 y 32, Nuevo Vedado, Plaza de La Revolución, La
                Habana, Cuba</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-phone"></i>
            </div>
            <div class="col-md-10 p-l-0">
              <p class="footer-text">+53 7 831-12-41</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="col-md-10 p-l-0">
              <p class="footer-text">salondondedorian@gmail.com</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-clock-o"></i>
            </div>
            <div class="col-md-10 p-l-0">
              <p class="footer-text">Lunes a Domingo 11:00 AM a 12:00 PM</p>
            </div>
          </div>

        </div>
        <div class="col-md-5 m-y-2">
          <h4 class="">Solicite nuestros servicios</h4>
          <p>Salón de belleza que se distingue por su creatividad,
            innovación y calidad en los servicios de corte y cuidado del cabello. Ahora tú también formas
            parte
            de nuestra Experiencia. Creamos aplicaciones según las necesidades y requerimientos de nuestros
            clientes.</p>
          <a class="btn btn-primary btn-lg" (click)="this.reservar()">Reservar</a>
        </div>
        <div class="col-md-3 m-y-2">
          <h4>Sígueme</h4>
          <ul class="redes-sociales">
            <li><a href="#" id="aF"> </a></li>
            <li><a href="#" id="aT"></a></li>
            <li><a href="#" id="aY"> </a></li>
            <li><a href="#" id="aI"> </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container ">
    <p class="text-center">2020 © DYMSOFT Todos los derechos reservados</p>
  </div>
</footer>


